<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="ApiRedirectRule1" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="(.*)" negate="false" />
					<action type="Rewrite" url="http://todoappwebapi/{R:1}" />
					<conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_METHOD}" pattern="GET" negate="true" />
					</conditions>
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                    </serverVariables>
				</rule>
				<rule name="StopRule1" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="(.*)" negate="false" />
					<action type="None" />
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="^/?$" />
					</conditions>
				</rule>
				<rule name="ApiRedirectRule2" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="(.*)" negate="false" />
					<action type="Rewrite" url="http://todoappwebapi/{R:1}" />
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="^/?$" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<serverVariables>
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                    </serverVariables>
				</rule>
			</rules>
			<outboundRules>
				<rule name="WebDavOutboundRule" preCondition="" patternSyntax="ECMAScript">
					<match filterByTags="None" pattern="&lt;dav:href>(http|https)://todoappwebapi(.*?)&lt;/dav:href>" />
					<action type="Rewrite" value="&lt;dav:href>{R:1}://{HTTP_X_ORIGINAL_HOST}{R:2}&lt;/dav:href>" />
					<conditions>
						<add input="{REQUEST_METHOD}" pattern="PROPFIND" />
						<add input="{RESPONSE_STATUS}" pattern="207" />
					</conditions>
				</rule>
			</outboundRules>
		</rewrite>
		<!-- <urlCompression doStaticCompression="true" doDynamicCompression="false" /> -->
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="WWW Server" areas="RequestRouting,Rewrite" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions timeTaken="00:00:00" statusCodes="200-999" />
				</add>
			</traceFailedRequests>
		</tracing>
		<handlers>
			<remove name="svc-Integrated-4.0" />
		</handlers>
        <urlCompression doDynamicCompression="false" />
	</system.webServer>
</configuration>
